<div class="container mt-5 px-4 form-container">
  <p class="title">Inicio</p>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="mb-3 input-group">
      <label for="usuario" class="form-label">Usuario</label>
      <input
        type="email"
        class="form-control"
        id="usuario"
        formControlName="usuario"
        required
      />
      <div
        *ngIf="
          loginForm.get('usuario')?.hasError('required') &&
          loginForm.get('usuario')?.touched
        "
        class="text-danger"
      >
        El usuario es requerido.
      </div>
      <div
        *ngIf="
          loginForm.get('usuario')?.hasError('email') &&
          loginForm.get('usuario')?.touched
        "
        class="text-danger"
      >
        Ingresa un correo electrónico válido.
      </div>
    </div>
    <div class="mb-3 input-group">
      <label for="contraseña" class="form-label">Contraseña</label>
      <input
        type="password"
        class="form-control"
        id="contraseña"
        formControlName="contraseña"
        required
      />
      <div
        *ngIf="
          loginForm.get('contraseña')?.hasError('required') &&
          loginForm.get('contraseña')?.touched
        "
        class="text-danger"
      >
        La contraseña es requerida.
      </div>
      <div
        *ngIf="
          loginForm.get('contraseña')?.hasError('minlength') &&
          loginForm.get('contraseña')?.touched
        "
        class="text-danger"
      >
        La contraseña debe tener al menos 6 caracteres.
      </div>
      <div *ngIf="userNotValidBoolean" class="text-danger">
        {{ userNotValid }}
      </div>
    </div>
    <button type="submit" class="sign mt-5">Ingresar</button>
  </form>
</div>
